{% extends 'base.html' %}

{% block content %}
    <div>
    <div class = "alert alert-info mx-auto" style="width : 400px">
        <h class = "h2">Add your cities</h>
        <br>
        <br>
    <form action = "#" method = "POST">
    {% csrf_token %}
    {{ select_city_form.as_p}}
    <input type = "Submit" value = "Add">
    </form>
    <br>
        {% if messages %}
            {% for msg in messages %}
            {{ msg }}
        {% endfor %}
        {% endif %}
    </div>
    </div>
{% endblock %}